.head{
  color: blue;
}
.dev{
  font-size: 2rem;
}
.auto{
  color: red;
}
.thick{
  width: 50%;
  border: 2px solid navy;
}
.aboutme{
  font-size: 30px;
  color: deepskyblue;
}
.flex{
  display: flex;
}
u{
  color: deepskyblue;
}
#preloader { 
  background: red url(loader.gif) no-repeat center center;
  background-size: 50%;
  height: 100vh; 
  width: 100%;
  position: fixed;
  z-index: 100;
}
.white{
  color: white;
}
alt{
  color: white;
}
